@font-face {
    font-family: "Figtree";
    src: url(../fonts/static/Figtree-Medium.ttf);
}

@font-face {
    font-family: "Figtree bold";
    src: url(../fonts/static/Figtree-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Figtree";
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center ;
    margin: 0;
    padding: 20px;
}

h2 {
    font-family: "Figtree bold";
}

.btn {
    text-decoration: none;
    font-family: "Figtree bold";
    color: black;
    background-color: hsl(47, 88%, 63%);
    padding: 7px 15px;
    border-radius: 5px;
    border: solid hsl(47, 88%, 63%);
}

.btn:hover {
    background-color: hsl(0, 0%, 100%);; 
    color: hsl(47, 88%, 63%);
    transition: all 0.2s ease-in;
}

.published {
    margin-top: 2rem;
}
.text {
    color: hsl(0, 0%, 42%);
    max-width: 90%;
}


.box {
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    border: 1px solid;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 10px 10px;
}

.illustration img {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.name {
    display: flex;
    gap: 5%;
}

.name img {
    width: 12%;
    object-fit: contain;
}

@media screen and (max-width:768px) {
body {
    flex-direction: column;
    padding: 2rem;
}

.illustration img{
    width: 100%;
}

.box {
    width: 50%;
}
}

@media screen and (max-width:425px) {
    .box {
        width: 100%;
    }
}